 <div class="card" style="width: 15rem" appClickProductCard>
  <img src="../../../assets/imgProduct.webp" alt="" />
  <div
  [ngClass]="{
    'card-body': isCard
  }">
    <h5 class="card-title text-success">{{ product.name | uppercase }}</h5>
    <h6 class="card-text">{{ product.quantityPerUnit }}</h6>
    <p 
    class="card-text" 
    appOnSale
    [onSaleColor]="onMouseColor"
    [onSaleText]="onSaleText"
    [isOnSale]="product.unitPrice > 30"
    >
      {{ product.unitPrice | kdv: 0.8 | currency: "₺" }}
    </p>
    <p class="card-text text-warning">
      <b>unitsInStock:</b> {{ product.unitsInStock }}
    </p>
    <p class="card-text text-success">
      <b>reorderLevel:</b> {{ product.reorderLevel }}
    </p>

    <button (click)="addToCardEvent(product)" class="btn btn-success">
      Add to Cart
    </button>
  </div>
</div> 


