<p>sepetinizde {{ cartItems.length }} ürün var</p>
<span
  class=""
  style="
    color: rgb(43, 73, 60);
    background-color: rgb(184, 238, 224);
    float: right;
  "
  >Date: {{ today | date: "medium" }}</span
>
<input
  class="form-control"
  type="text"
  [(ngModel)]="filterProductName"
  placeholder="Search Product Name"
  style="width: 200px"
/>

<ng-template [ngIf]="productList" [ngIfElse]="loading">
  <ng-template [ngIf]="productList.length > 0" [ngIfElse]="alert">
    <div class="row">
      <div
        class="col-4"
        *ngFor="let pr of productList | productFiltered: filterProductName"
      >
        <etiya-product-card
          (onBtnClick)="addToCard($event)"
          [product]="pr"
        ></etiya-product-card>
      </div>
    </div>
  </ng-template>
  <ng-template #alert>
    <div class="alert alert-danger" role="alert">
      This is a danger alert—check it out!
    </div>
  </ng-template>
</ng-template>

<ng-template #loading>
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <!-- <div class="alert alert-danger" role="alert">
    Bu ürün stokta kalmamıştır!!!!
  </div> -->
</ng-template>
<div *ngIf="!(productList | productFiltered: filterProductName)?.length">
  No Result Found!
</div>
