<div class="card" style="width: 15rem">
  <img src="../../../assets/imgProduct.webp" alt="">
  <div class="card-body p-3 mb-2">
    <h5 class="card-title text-success">{{ product.name }}</h5>
    <h6 class="card-text">{{product.quantityPerUnit}}</h6>
    <p class="card-text">
      $ {{product.unitPrice}}
    </p>
    <p class="card-text text-warning">
      <b>unitsInStock:</b>  {{ product.unitsInStock}}
    </p>
    <p class="card-text text-success"> 
      <b>reorderLevel:</b>  {{ product.reorderLevel}} 
    </p>

    <button
      (click)="addToCardEvent(product)"
      class="btn btn-success"
    >
      Add to Cart
    </button>
  </div>
</div>
