<!-- <p>footer works!</p> -->
<div class="footer">
  <ul>
    <li>
      <a href=""><i class="bx bx-copyright"></i>Portfolio 2022</a>
    </li>
    <li>
      <a href=""><i class="bx bxl-gmail"></i> cagla@gmail.com</a>
    </li>
    <li>
      <a
        href="http://github.com/esincaglakiral"
        ><i class="bx bxl-github"></i> to access my github account</a
      >
    </li>
    <li>
      <a
        href="http://www.linkedin.com/in/esincaglakiral/"
        ><i class="bx bxl-linkedin"></i> to access my linkedin account</a
      >
    </li>
  </ul>
</div>
