<!-- <p>navbar works!</p> -->

<div class="navbar">
  <span class="brand"><a href="">Portfolio</a> </span>
  <ul>
    <li><a routerLink="/homepage"
      routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about"
      routerLinkActive="active">About</a></li>
    <li><a routerLink="/projects"
      routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/contact"
      routerLinkActive="active">Contact Us</a></li>
      <li><a routerLink="/contact"
        routerLinkActive="active"><button class="btn">Let's Contact</button></a></li>
  </ul>
</div> 
