<div class="aboutpage">
  <section class="about" id="about">
    <div class="about-text">
      <h4>Hello, my name is</h4>
      <aside>
        <div class="card">
          <div class="container">
            <h4><b>Frontend Development</b></h4>
            <h5>Technologies</h5>

            <p>
              Lorem ipsum dolor sit amet consectetur s perferendis. Commodi ad
              omnis id ipsum. Nisioremque distinctio nesciunt explicabo! Error
              fuga vel nesciunt, vero quasi, dolorem ipsam culpa sed iure iste
              et?
            </p>
    
            <div class="icons">
            <i class='bx bxl-angular'></i>
            <i class='bx bxs-component' ></i>
            <i class='bx bxl-javascript' ></i>
            <i class='bx bxl-css3' ></i>
            <i class='bx bxl-java'></i>
            <i class='bx bxl-react'></i>
            <i class='bx bxl-nodejs' ></i>
            <i class='bx bxl-vuejs'></i>
            <i class='bx bxl-tailwind-css'></i>
            </div>


          </div>
        </div>
      </aside>
      <h1>Esin Çağla <span>Kıral</span></h1>
      <h3>I'm a Specialist Software Development</h3>
      <div class="description">
        <h5>
          Kocaeli Üniversitesi Bilgisayar Mühendisliği mezunuyum. Okul hayatım boyunca toplam 50 iş günü olacak şekilde 2 farklı yazılım
          şirketinde Frontend üzerine staj deneyimi elde ettim. Ayrıca Frontend
          üzerine 2021 senesinde İsmek | Zemin İstanbul | Kodluyoruz |
          Patika.dev | Microsoft işbirliğiyle gerçekleştirilen 7 haftalık
          Frontend developer eğitiminden ve 2022 senesinde 5 hafta süren
          Techcareer.net React Bootcamp'inden başarıyla mezun oldum. Şuanda ise Etiya'da 
          Specialist Software Developer olarak görevimi sürdürmekteyim.
        </h5>
      </div>
      <div class="box-container">
        <div class="box1">
          <p><span>Age: </span> 24</p>
          <p><span>Experience: </span>0-1 yıl</p>
          <p><span>Skills: </span>React, JavaScript,
            HTML,
            CSS,
            Java,
            C#,
            Vue,
            Angular,
            SQL</p>
            <p><span>Language: </span>English (intermediate)</p>

        </div>
        <div class="box2">      
          <p><span>Telephone: </span>0553 434 80 94</p>
          <p class="email"><span>E-posta: </span>caglakiral@gmail.com</p>
          <p><span>Address: </span>İstanbul, Turkey</p>
          <p><span></span></p>

        </div>
      </div>
      <div class="btn-cv">
       <a routerLink="/about"
          routerLinkActive="active">CV İndir</a>
      </div>
    </div>
  </section>
</div>
