<!-- <p>projects works!</p> -->

<!-- <div class="projects-content">
    <div class="row"><i class='bx bx-code'></i></div>
</div> -->

<div class="projectpage">
<section class="projects" id="projects">
    <div class="center">
        <h2>My Awesome Projects</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
            quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
    </div>
    <div class="projects-content">
        <div class="row">
            <i class='bx bxs-purchase-tag'></i>
            <h3>E-Commerce</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
                quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
        </div>
        <div class="row">
            <i class='bx bx-credit-card' ></i>
            <h3>BankCard</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
                quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
        </div>
        <div class="row">
            <i class='bx bxl-bitcoin' ></i>
            <h3>Crypto/Finance panel</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
                quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
        </div>
        <div class="row">
            <i class='bx bx-conversation'></i>
            <h3>Consultancy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
                quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
        </div>
        <div class="row">
            <i class='bx bxs-bar-chart-alt-2' ></i>
            <h3>Workflow Panel For Customers </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
                quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
        </div>
        <div class="row">
            <i class='bx bx-code'></i>
            <h3>SEO Services</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime doloribus, 
                quia omnis fuga enim autem itaque optio quam voluptates libero obcaecati asperiores!</p>
        </div>
    </div>
</section>
</div>